@import url('../../App.css');

* {
    margin: 0;
    padding: 0;
}

.modal_forgot {
    width: 402px;
    background: #070418;
    border-radius: 11px;
    border: 1px solid #323438;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close_btn{
    border: none;
    background: none;
    pointer-events: auto;
}

.forgetP_styling {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    color: var(--whiteColor);
    width: 100%;
}

.forget_content {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    margin-bottom: 0px;
    color: #AEAEAE;
}

.mail_icon {
    position: absolute;
    top: 58%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--whiteColor);
    font-size: 25px;
}

.btn-close {
    --bs-btn-close-color: none;
    --bs-btn-close-bg: url(none);
    --bs-btn-close-opacity: none;
    --bs-btn-close-hover-opacity: none;
    --bs-btn-close-focus-shadow: none;
    --bs-btn-close-focus-opacity: none;
    --bs-btn-close-disabled-opacity: none;
    --bs-btn-close-white-filter: none;
    box-sizing: content-box;
    width: 1.90em;
    height: 0em;
    padding: 6px 0px 0px 0px;
    background: none;
    border: 0;
    border-radius: 0rem;
}